// $main-color: #C2D9E1;
// $secondary-color: #82B1CD;
// $dark-accent-color: #D29F8C;
// $bright-accent-color: #FFD9D0;
// $grey: #FCFBF7;
$main-color: #53027c;
$secondary-color: #a777ce;
$shadow-color: #cec0d4;

$grey-text: #272727;

$dark-accent-color: #99075c;
$bright-accent-color: #f4cad6;

$golden: #f5c815;
$bg-color: #fffef9;